h1 {
  text-align: center;
  margin: 20px auto 0px;
}

.delivery-method-button {
  position: relative;
  bottom: -22px;
}
.competitive-fund-button {
  position: relative;
  bottom: -22px;
}

.set-up-wrapper {
  max-width: 500px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto 20px;
}

.choices-wrapper {
  max-width: 500px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto 20px;
}

.application-form-build-wrapper {
  max-width: 500px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto 20px;
}
